.main {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(../../fundo-gpt.png); 
//   /* background-image: linear-gradient(43deg, .8d89a9 0%, .9a92b5 22%, .542554 49%, .9c7eab 75%, .a589b5 100%); */

//     --color_with: #ffffff;
//     --btn_footer: #a570a5;
//     --bg: #000;
//     --hover-bg: #805580;
//     --hover-text: #000;
}

.header {
    width: 100%;
    height: 12%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.header_section {
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

}

.logo {

    width: auto;
    height: 100%;
}

.title_header {
    font-size: 2vw;
    margin: 0 4%;

    color: white;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.main {
    width: 100%;
    height: 76%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}

.infos{
    width: 40%;
    height: 82%;
    font-size: 0.8vw;

   
}
.first_name{
    font-size: 3.8vw;
    margin: 0 18%;
    color: white;

    
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
}
.last_name{
    font-size: 3.8vw;
    margin: 0 20%;

    color: white;
    font-family: "Judson", serif;
    font-weight: 400;
    font-style: normal;
}
.description{
    font-size: 1.4vw;
    margin: 3%;

    color: white;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.img_logo{
    width: auto;
    height: 70vh;
    border-radius: 10%;
    margin: 5%;  
}

.footer{
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding: 0 5%;

    
}
.footer_btn{
    width: 6%;
    height: 45%;
    font-size: 3.6vh;
    background-color: var(--btn_footer);
}