.ButtonText {
    // border: none;
    // background: transparent;
    // outline: none;
    // color: #ffff; // ou a cor que preferir
    // font-size: 1rem; // ajuste conforme o estilo desejado
    // padding: 4px;
    // cursor: default; // deixa o cursor normal
    // position: relative;
    // top: -100px;
    // margin-left: 10px;
    //   align-self: flex-start;

     background: transparent;
  border: none;
  color: #ffffff; // Ou qualquer cor desejada
  font-size: 0.95rem;
  cursor: pointer;
  text-decoration: underline;
  top: -100px;
  padding: 0;
  position: relative;


  &:hover {
    text-decoration: none;
    opacity: 0.8; // efeito de hover sutil
  }
}