.Input{
 border: 5px solid rgb(96, 1, 77);
  margin: 10px 0 10px 10px;
  border-radius: 22px;
  height: 4.8vh;
  width: 18vw;
  position: relative;
  top: -180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

