.InputText {
    border: none;
    background: transparent;
    outline: none;
    color: #ffff; // ou a cor que preferir
    font-size: 1rem; // ajuste conforme o estilo desejado
    padding: 4px;
    cursor: default; // deixa o cursor normal

}